<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/style/style.css">
	<title>Final Project - NHL Database</title>
</head>
<body>
<span><h1>Final Project - NHL Database</h1></span>
<fieldset name = "Main Menu"><legend>Main Menu</legend>
	<span>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/home'">Home</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/insertP'">Insert Players</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/insertT'">Insert Teams</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/insertA'">Insert Arenas</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/insertD'">Insert Divisions</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/insertC'">Insert Conferences</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/insertFP'">Insert Former Players</button>
	</span>
	<br>
	<span>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/displayPlayers'">Display Players</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/displayTeams'">Display Teams</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/displayArenas'">Display Arenas</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/displayDivisions'">Display Divisions</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/displayConferences'">Display Conferences</button>
		<button class="TopButtons" onclick = "location.href='http://52.34.150.210:3000/displayFormerPlayers'">Display Former Players</button>
	</span>
</fieldset>
	{{{body}}}
</body>
</html>
